
.header{
  font-family: 'Raleway-Body', sans-serif;
  font-weight: bold;
  font-size: 30pt;
  color: #444649;
  position: relative;
  display:block;
  text-align:center!important;
}

.header-bar-parent{
  text-align:center!important;
}

.animate-right.triggeredCSS3{
  animation: animateright 0.3s forwards;
}

.animate-left.triggeredCSS3 {
  animation: animateleft 0.4s forwards;;
  
}

.animate-up.triggeredCSS3{
  animation: animateup 0.3s forwards;
}

.animate-down.triggeredCSS3{
  animation: animatedown 0.3s forwards;
}

.trigger-animated{
  visibility:hidden;
}

.bar.fill.trigger-animated {
	width: 20%;
}


.header-bar {  
  width: 70px;
  height: 4px;
  background: #444649;  
  position: relative;  
  display: inline-block;
}

.trigger-animated.animate-expand.triggeredCSS3{
	animation: animateexpand 2s ease-in-out forwards;
	animation-delay: 1.2s
}

@keyframes animateexpand{from {width:20%; visibility:hidden;} to{width:100%;visibility:visible;}}
@keyframes animateright{from{transform: translate(300px, 0px);opacity:0;visibility:hidden} to{transform: translate(0px, 0px);opacity:1;visibility:visible}}
@keyframes animateleft{from{transform: translate(-300px, 0px);opacity:0;visibility:hidden} to{transform: translate(0px, 0px);opacity:1;visibility:visible}}
@keyframes animateup{from{transform: translate(0px, 300px);opacity:0;visibility:hidden} to{transform: translate(0px, 0px);opacity:1;visibility:visible}}
@keyframes animatedown{from{transform: translate(0px, -300px);opacity:0;visibility:hidden} to{transform: translate(0px, 0px);opacity:1;visibility:visible}}
