body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;  
}

canvas {
    margin: 0;
    margin-bottom:-4px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.overflow-wrap{
  overflow-x: hidden;
  padding: 0px;
}

.nav-bar
{
  z-index:20;
}

.content-div
{
  z-index: 10;
}